body {
    background-color: #3399ca;
}

/*
header  {
    min-height: 14rem;
    position:relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(../images/header.png);
    background-position: top;
    background-size: cover;
    filter: brightness(60%);
    min-height: 14rem;
}
*/

header {
    background-image: url(../images/header.png);
    background-position: top;
    background-size: cover;
    min-height: 14rem;



}


.navbar-brand img {
    height: 172px;
}

header .navbar-brand {
    align-items: initial !important;
}

header .navbar-brand a.site-title {
    color: #fff;
    font-size: 3.5rem;
    font-family: arial;
    -webkit-text-stroke: 1px #007;
    text-transform: none;
}

header .nav-link {
    background-color: #3399ca;
    color: #fff;
}

header .nav-link:hover {
    color: #0056b3;
}

.order-1,
.order-3,
footer {
    background-color: #f5f5f5;
}

.path-frontpage .page-title {
    display: none;
}

.page-title {
    font-size: 2.6rem;
    font-weight: bold;
}

.copyright {
    margin-left: 1rem;
}

.scr-events {
    border: 1px solid #000;
    border-collapse: collapse;
    font-size: .8rem;
}

.scr-events th,
.scr-events td {
    border: 1px solid #000;
    padding: .2rem;
}

.region-sidebar-first {
    padding-bottom: 3rem;
}

.region-sidebar-first .nav-item {
    color: #fff;
    font-size: 1.3rem;
}

.region-sidebar-first .nav-item:hover {
    color: #0056b3;
}

.region-sidebar-first .nav-item .nav-link {
    padding-bottom: .2rem;
    padding-top: .2rem;
}

